<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<h2>Example body text</h2>
<p>Nullam quis risus eget <a href="#">urna mollis ornare</a> .</p>
<p><small>This line of text is meant to be treated as fine print.</small></p>
<button type="button" id="isOnBtn" (click)="clicked()" class="btn btn-danger">Click Me</button>

    <span>{{message}}</span>
    <!-- <h2 ><span id="test">{{message| titlecase}}</span> Details</h2> -->

    <br/>
    <br/>
    <br/>

    <h2><span id="testspan">{{name | titlecase}}</span> </h2>
    <div>
      <label for="name">name: </label>
      <input id="name" [(ngModel)]="name" placeholder="name" />
    </div>




    <!-- The Form -->

    <div class="d-flex justify-content-center bg-warning">
      <div class="mt-5 p-5" style="width:600px">
        <form [formGroup]="loginForm" >
          <h1 class="fw-bold fs-1 text-center">Form Test</h1>
          <div class="form-outline mb-1">
            <input type="email" id="form3Example3" name="email" class="form-control form-control-lg"
              placeholder="Enter a valid email address" formControlName="email" />
          </div>
    
          <div class="form-outline mb-1">
            <input type="password" id="form3Example4" name="password" class="form-control form-control-lg"
            placeholder="Enter password"
              formControlName="password" />
          </div>
    
          <div class="text-center text-lg-start mt-1 pt-2">
            <button [disabled]="loginForm.invalid" type="button"
            id="submitButton" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" >Login</button>
            <p class="fs-1 text-danger fw-bold"></p>
          </div>
        </form>
      </div>
    </div>
